* {
	font-family: 'Open Sans', sans-serif;
	/* color: inherit; */
}
.gravitar {
	width: 200px;
}

.authContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: black;
	color: white;
	position: fixed;
	left: 20vw;
	right: 20vw;
	top: 25vh;
	font-weight: 700;
	border-radius: 10px;
	/* width: 800px;
	min-width: 300px; */
	height: 500px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.authContainer:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 400px) {
	.authContainer {
		left: 5vw;
		right: 5vw;
		top: 30px;
		height: 600px;
	}
}

.logo {
	font-size: 5em;
	font-weight: bolder;
	margin: 0;
}

.authButtonContainer {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.authButton {
	display: flex;
}

.greaterAuthInput {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.imgCircle {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: white;
}
.navImg {
	width: 80px;
	z-index: 1;
}

.navBar {
	display: flex;
	flex-direction: column;
	width: 100px;
	background: black;
	color: white;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
}
